{% extends "admin/base_site.html" %}
{% block content %}
<h2>Stücke via CSV importieren</h2>
<p>Folgende Spalten werden in der CSV ausgewertet. (Semicolon-getrennt): <br>
<code>Title;Composer;Arranger;Label;Publisher;Genres;Difficulty;Duration;Concerts</code><br><br>
Die Namen müssen in der ersten Spalte der Tabelle stehen.</p>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Import starten</button>
</form>
{% endblock %}